{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Vos cartes existantes -->
<div class="cardBox">

    <div class="card1" style="background-color: #3498db;">
        <div class="iconBx">
            <ion-icon name="fast-food-outline"></ion-icon>
        </div>
        <div>
            <div class="numbers">{{dishes.count}}</div>
            <div class="cardName">إجمالي الوجبات</div>
        </div>
    </div>

    <div class="card1" style="background-color: #2ecc71;">
        <div class="iconBx">
            <ion-icon name="grid-outline"></ion-icon>
        </div>
        <div>
            <div class="numbers">{{categories.count}}</div>
            <div class="cardName">إجمالي الأقسام</div>
        </div>
    </div>

    <div class="card1" style="background-color: #f1c40f;">
        <div class="iconBx">
            <ion-icon name="people-outline"></ion-icon>
        </div>
        <div>
            <div class="numbers">{{users.count}}</div>
            <div class="cardName">إجمالي الموظفين</div>
        </div>
    </div>

    <div class="card1" style="background-color: #9b59b6;">
        <div class="iconBx">
            <ion-icon name="pricetag-outline"></ion-icon>
        </div>
        <div>
            <div class="numbers">{{coupons.count}}</div>
            <div class="cardName">إجمالي الكوبونات</div>
        </div>
    </div>

    <div class="card1" style="background-color: #e74c3c;">
        <div class="iconBx">
            <ion-icon name="hourglass-outline"></ion-icon>
        </div>
        <div>
            <div class="numbers">{{orders_in_progress.count}}</div>
            <div class="cardName">طلبات قيد التنفيذ</div>
        </div>
    </div>

    <div class="card1" style="background-color: #34495e;">
        <div class="iconBx">
            <ion-icon name="trending-up-outline"></ion-icon>
        </div>
        <div>
            <div class="numbers">{{total_price}}</div>
            <div class="cardName">أرباح اليوم</div>
        </div>
    </div>

    <div class="card1" style="background-color: #1abc9c;">
        <div class="iconBx">
            <ion-icon name="layers-outline"></ion-icon>
        </div>
        <div>
            <div class="numbers">{{available_tables.count}}</div>
            <div class="cardName">الطاولات المتاحة</div>
        </div>
    </div>

    <div class="card1" style="background-color: #e67e22;">
        <div class="iconBx">
            <ion-icon name="today-outline"></ion-icon>
        </div>
        <div>
            <div class="numbers">{{today_orders.count}}</div>
            <div class="cardName">طلبات اليوم</div>
        </div>
    </div>

<!-- Graphique -->

</div>

<!-- Graphiques -->
<div class="row mt-2">
    <!-- Premier graphique -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <canvas id="monthlyChart"></canvas>
            </div>
        </div>
    </div>
    <!-- Deuxième graphique -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <canvas id="dishes_in_orders_dataChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <!-- Troisième graphique -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <canvas id="tableChart"></canvas>
            </div>
        </div>
    </div>
    <!-- Quatrième graphique -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <canvas id="orderChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <!-- Cinquième graphique -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <canvas id="categoriesChart"></canvas>
            </div>
        </div>
    </div>
</div>




<!-- Inclure Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Récupérer les données passées depuis la vue
    const monthsData = {{ months_data|safe }};
    console.log(monthsData);

    // Préparer les données pour Chart.js
    const labels = monthsData.map(data => data.month);
    const totalOrders = monthsData.map(data => data.total_orders);
    const totalRevenue = monthsData.map(data => data.total_revenue);

    // Créer le graphique
    const ctx = document.getElementById('monthlyChart').getContext('2d');
    const monthlyChart = new Chart(ctx, {
        type: 'line',  // Type de graphique (bar, line, etc.)
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'عدد الطلبات',
                    data: totalOrders,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',  // Couleur des barres
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                },
                {
                    label: 'اجمالي لبربح',
                    data: totalRevenue,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',  // Couleur des barres
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'الارباح الشهرية',
                    font: {
                        size: 20,
                        weight: 'bold',
                        family: 'Arial',

                    },

                    
                }
            }
        }
    });
</script>
<script>
    // Récupérer les données passées depuis la vue
    const tablesData = {{ tables_data|safe }};
    
    console.log(tablesData);
    // Préparer les données pour Chart.js
    const available_tables= tablesData.map(data => data.available_tables);
    const busy_tables = tablesData.map(data => data.busy_tables);

    // Créer le graphique
    const ctx1 = document.getElementById('tableChart').getContext('2d');
    <!-- doughutChart -->
        const tableChart = new Chart(ctx1, {
        type: 'doughnut',  // Type de graphique (bar, line, etc.)
        data: {
            labels: ['الطاولات المتاحة', 'الطاولات المشغولة'],
            datasets: [{
                label: 'My First Dataset',
                data: [available_tables, busy_tables],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
            },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'الطاولات',
                    font: {
                        size: 20,
                        weight: 'bold',
                        family: 'Arial',

                    },

                    
                }
            }
        }
    });
</script>
<script>
    // Récupérer les données passées depuis la vue
    const ordersData = {{ orders_data|safe }};
    
    console.log(ordersData);
    // Préparer les données pour Chart.js
    const delivery_orders= ordersData.map(data => data.delivery_orders);
    const take_out_orders = ordersData.map(data => data.take_out_orders);
    const dine_in_orders = ordersData.map(data => data.dine_in_orders);

    // Créer le graphique
    const ctx2 = document.getElementById('orderChart').getContext('2d');
    <!-- pieChart -->
        const orderChart = new Chart(ctx2, {
        type: 'pie',  // Type de graphique (bar, line, etc.)
        data: {
            labels: ['طلبات التسليم', 'طلبات التجهيز', 'طلبات التناول'],
            datasets: [{
                label: 'My First Dataset',
                data: [delivery_orders, take_out_orders, dine_in_orders],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
            },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'طلبات',
                    font: {
                        size: 20,
                        weight: 'bold',
                        family: 'Arial',

                    },
                    
                }
            }
        }
    });
    
</script>

<!-- categories graph -->
<script>
    // Récupérer les données passées depuis la vue
    const categoriesData = {{ categories_data|safe }};
    
    console.log(categoriesData);
    // Préparer les données pour Chart.js
    const category= categoriesData.map(data => data.category);
    const dishes_count = categoriesData.map(data => data.dishes_count);

    // Créer le graphique
    const ctx3 = document.getElementById('categoriesChart').getContext('2d');
    <!-- doughutChart -->
        const categoriesChart = new Chart(ctx3, {
        type: 'bar',  // Type de graphique (bar, line, etc.)
        data: {
            labels: category,
            datasets: [{
                label: 'عدد الوجبات',
                data: dishes_count,
                backgroundColor: [
                'rgb(54, 162, 235)'
                ],
                hoverOffset: 4
            }]
            },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'احصائيات الاقسام',
                    font: {
                        size: 20,
                        weight: 'bold',
                        family: 'Arial',

                    },
                    
                }
            }
        }
    });
    
</script>

<!-- dishes_in_orders_data graph -->
<script>
    // Récupérer les données passées depuis la vue
    const dishes_in_orders_data = {{ dishes_in_orders_data|safe }};
    
    console.log(dishes_in_orders_data);
    // Préparer les données pour Chart.js
    const dish = dishes_in_orders_data.map(data => data.dish);
    const orders_count = dishes_in_orders_data.map(data => data.orders_count);
    // Créer le graphique
    const ctx4 = document.getElementById('dishes_in_orders_dataChart').getContext('2d');
    
    const dishes_in_orders_dataChart = new Chart(ctx4, {
        type: 'bar',  // Type de graphique (bar horizontal)
        data: {
            labels: dish,
            datasets: [{
                label: 'عدد الطلبات',
                data: orders_count,
                backgroundColor: [
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(255, 99, 132)',
                    'rgb(75, 192, 192)',
                    'rgb(153, 102, 255)',
                ],
                hoverOffset: 4
            }]
        },
        options: {
            indexAxis: 'y',  // This will make the bars horizontal
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'الاكثر طلبا',
                    font: {
                        size: 20,
                        weight: 'bold',
                        family: 'Arial',
                    },
                }
            },
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: false,
                    }
                },
                y: {
                    title: {
                        display: false,
                    }
                }
            }
        }
    });
</script>
{% endblock %}